/* ------------- create.js view --------------------- */
.create-header {
    border-bottom: 1px solid black;
    margin: 20px 0px;
}

.create-body {
    border: 1px solid lightgray;
    border-radius: 12px;
    box-shadow: 1px 1px 4px gray;
    background-color: var(--offwhite);
}




/* --------------create order form ------------------- */
.create-order-form {
    width: 600px;
    margin: 20px auto;
}

.create {
    width: 95%;
    border: thin solid lightgray;
    border-radius: 6px;
    margin-top: 6px;
    background-color: var(--offwhite);
}