.home-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-div {
    margin: 2vh auto;
    width: 25vw;
    min-width: 200px;
    text-align: center;
}

#home-btn {
    width: 80%;
    min-width: 180px;
    height: 44px;
}

.home-img-container {
    margin: 40px auto;
    text-align: center;
}

#home-logo {
    width: 300px;
    height: 230px;
    margin: 0px 50px 0px 0px;
}

.home-img-container > h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 1px 3px var(--green);
    font-family: 'Acme', sans-serif;
    margin: none;
    color: var(--red);
}

.home-img-container > h2 {
    font-size: 44px;
    font-family: 'Acme', sans-serif;
    margin-top: 6px;
    color: var(--red);
    text-shadow: 1px 1px 2px var(--green);
}