button {
    width: 90px;
    height: 30px
}

th {
    width: 12%;
}

.current-orders {
    margin: 20px 0px 40px 0px;
}

.table-header {
    background-color: var(--offwhite);
    padding: 4px 6px;
}