/*------------------ORDER DETAILS--------------*/
.details-body {
    margin:20px 0px;
    border: 1px dashed blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.body-left {
    background-color: rgb(241, 241, 241);
    border: 1px solid darkgray;
    border-radius: 8px;
    width: 45%;
    min-width: 330px;
    padding: 8px 4px 4px 4px;
    margin-bottom: 40px;
}

.body-right {
    border: 1px solid green;
    width: 50%;
    min-width: 330px;
    padding: 4px 8px;
}

.body-right-btn {
    border-bottom: thin solid black;
}

.hidden-div {
    transition: ease-in-out .5s;
}

#edit-form-btn {
    width: 200px;
    margin: 0px 0px 8px 0px;
}

/* -----------------DETAILS TABLE------------- */
.details-table-header {
    border-bottom: thin solid black;
}

tr {
    height: 40px;

    border-bottom: 1px solid darkgray;
    vertical-align: top;
}

th {
    padding: 5px 2px;
    width: 35%;
}

td {
    padding: 5px;
    width: 65%;
}

/* --------------EDIT DETAILS FORM------------------ */
.edit-details-form {

}


