.navbar {
    border-bottom: 4px solid var(--green);
    border-top: 4px solid var(--green);
    align-items: center;
    background-color: var(--red);
}

#nav-icon {
    width:30px;
    height:30px;
    margin: 0px 4px;
}

#nav-title {
    font-size: 26px;
    margin-bottom: 2px;
    font-family: 'Acme', sans-serif;
}

#nav-btn {
    box-shadow: 1px 1px 1px 1px darkred;
}
